.container{
    margin: 0;
    padding: 0;
}
.ipp ,.iaaa{
    display: none;
}
.ipp:checked + .texto, .iaaa:checked + .texto2 {
visibility: hidden;}
.texto,.texto2{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background: red;
    z-index: 120;
}
.texto2{
    z-index: 1;
    background: green;
}
body,h2,h3{
    margin: 0;
    padding: 0;
}
.navegacion {
    width: 15%;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    display: flex;
}
.body{
    margin-left: 15%;
}