@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html{
    scroll-behavior: smooth;
    background-color: #33373A;
}
body,h2,h3{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
/*
*   Reglas de estilos de la barra de desplazamiento
*/
body::-webkit-scrollbar{
    width: 15px;
    padding: 3px;
}
body::-webkit-scrollbar-thumb {
    background:#52595e;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #8f9ca5;
    background-clip: padding-box;
    border-width: 4px;
}
body::-webkit-scrollbar-track:hover{
    background-color: #24282A;
    border-left: 2px solid black;
}
body::-webkit-scrollbar-corner{
    display: none;
}
/*
*   Reglas de estilo de las etiquetas <pre> que contienen los comandos
*/
pre{
    white-space: pre-wrap;
}
.dolar{
    color: #43dde6;
}
.sudo{
    color: #f3f169;
}
.barra{
    color: #fc5185;
}
table,th,td {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 5px;
}


.container{
    margin: 0;
    padding: 0;
}

/*
*   Reglas de estilos de la barra de navegacion
*/
.navegacion {
    width: 250px;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: solid;
    border-width: 0 3px 0 0;
    border-color: #24282A;
}
label{
    display: flex;
    padding: .7em .5em .7em 1.7em;
    position: relative;
    color: white;
    margin-block-end: .3em;
    background-color: #24282A;
    font-size: 1.2em;
    border-bottom: 3px;
}
label::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: white;
    transition: width .3s;
}
label:hover{
    font-weight: bold;
    cursor: pointer;
}
label:hover::after{
    width: 100%;
}
/*
*   Reglas de estilo de la navegacion rapida
*/
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.content .menu {   
    text-align: center;
    color: white;
    position: fixed;
    width: 250px;
    top: 50%;
    left: 0;
}
.content .menu h3{
    color: white;
    font-weight: bold;
    background-color: #24282A;
    line-height: 30px;
    margin-bottom: 5px;
}
.content .menu ul li a{
    color: white;
    font-size: 1.3em;
    position: relative;
    text-decoration: none;
}
.content .menu ul li{
    margin-block-end: 5px;
}
.content .menu ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background: white;
}
.content .menu ul li a:hover::after{
    width: 100%;
    animation: animateLine .3s linear;
}
@keyframes animateLine{
    from {
        left: 50%;
        width: 0;
    }
    to{
        left: 0;
        width: 100%;
    }
}
/*
*   Reglas de estilos de los elementos <details> y <summary>
*/
details:focus,summary:focus{
    outline: none;
}
details{
    padding: 0.5em;
    border-radius: 5px;
    background-color: #24282A;
    margin-block-end: 0.6em;
}
summary::-webkit-details-marker {
    display: none
}
summary:after {
    border-radius: 5px;
    content: "+";
    color: #fff;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: -5px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
}
details[open] summary:after {
    content: "-";
}

.lista{
    list-style: circle;
    padding: 5px 5px 5px 20px;   
}
.lista li {
    margin-block-end: 10px;
}


section{
    padding: 0 2em 0 2em;
    color: white;
}
.titleSection{
    position: relative;
    background: #24282A;
    padding: .3em;
    border-radius: 5px;
    border: 1px solid black;
    margin-block-end: .3em;
}
section img{
    float: right;
    transition: all 1s;
}


/*
*   Reglas de estilo de las imagenes
*/
.img-resize:hover{
    width: 60% !important;
    height: 50% !important;    
}
.imgs-animations{
    animation: img-animation 4s linear infinite;
}
@keyframes img-animation{
    0%{
        transform: translateY(0);
    }
    45%{
        transform: translateY(20px);
    }
    85%{
        transform: translateY(0);
    }
}


/*
*   Reglas de estilo de los input type radio
*/
input[type=radio]{
    visibility: hidden;
}
input[type=radio]:checked +.content{
    display: block;
    opacity: 1;
  }



kbd{
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
}
/*
*   Reglas de estilo de la portada
*/
.inicio h2{
    position: absolute;
    align-items: center;
    top: 40%;
    left: 40%;
    width: 30%;
    margin: auto;
    font-size: 2em;
}
.inicio{
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 20% 0 10%;
}
/*
*   Reglas de estilo de los contenidos
*/
.container{
    display: flex;
}
.content{
    display: none;
    opacity: 0;
}
.content-body{
    margin-left: 255px;
    width: 100%;
    height: 100%;
}