<div class="container">
    <div class="row">
        <h1 class="text-center col-md-8 align-midle">Listado Especialidades</h1>
        <button class="btn btn-primary col-md-2 mx-auto" (click)="addNewSpecialty()" style="height: 40px;">Añadir
            especialidad</button>
    </div>

    <table class="table text-center" *ngIf="this.specialties">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specialty of this.specialties">
                <td scope="col">
                    <input type="text" value="{{specialty.name}}" #specialtyNameEdit [disabled]="this.isEditing || this.specialtySelected.id != specialty.id">
                </td>
                <td scope="col">
                    <button *ngIf="this.isEditing || this.specialtySelected.id != specialty.id" type="button" class="btn btn-info mr-2" (click)="enterEditMode(specialty)">Editar</button>
                    <button *ngIf="!this.isEditing && this.specialtySelected.id == specialty.id" type="button" class="btn btn-primary mr-2" (click)="saveEditedSpecialty(specialtyNameEdit.value)">Guardar</button>
                    <button *ngIf="!this.isEditing && this.specialtySelected.id == specialty.id" type="button" class="btn btn-danger mr-2" (click)="enterEditMode(specialty)">Cancelar</button>
                    <button *ngIf="this.isEditing || this.specialtySelected.id != specialty.id"type="button" [disabled]="specialty.pets?.length > 0" class="btn btn-danger" (click)="removeSpecialty(specialty.id)">Borrar</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table text-center" [formGroup]="form" *ngIf="this.getSpecialtiesForm.controls.length > 0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specialty of getSpecialtiesForm.controls; let i=index" formArrayName="specialtiesForm">
                <td><input type="text" formControlName="{{i}}"></td>
                <td>
                    <button type="submit" [disabled]="!this.form.valid && !this.getSpecialtiesForm.controls[i].valid" class="btn btn-primary mr-2" (click)="saveSpecialty(i)">Guardar</button>
                    <button type="butotn" class="btn btn-danger" (click)="deleteSpecialty(i)">Borrar</button>    
                </td>
            </tr>
        </tbody>
    </table>
</div>