<div class="container" *ngIf="this.petType">
    <form [formGroup]="petTypeForm" (ngSubmit)="onSubmit(petTypeForm.value)">
        <h1 class="text-center">{{this.petType.id && this.petType.id != -1 ? "Editar propietario" : "Añadir propietario"}}</h1>
        <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" formControlName="name" class="form-control" name="name" class="form-control">
                <div class="alert alert-danger" [hidden]="petTypeForm.get('name').valid || petTypeForm.get('name').pristine">
                    El nombre del tipo de mascota es necesario
                </div>
        </div>
        <div class="form-row justify-content-center">
            <button class="btn btn-primary mr-3" [disabled]="!petTypeForm.valid">Añadir</button>
        </div>
    </form>
</div>